body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    background-color: #b6b3b3;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    flex-grow: 1;
}

#favList {
    margin-left: auto;
}

/* WEATHER BOXES */
#weather-container {
    background-color: rgb(190, 190, 192);
    margin: 5px;
    display: block;
    text-align: center;
}

#weather-item > div {
    margin: 15px;
    background-image: radial-gradient( rgb(39,130,218),rgb(18, 73, 167));
    padding: 5px;
}