header {
    margin: auto;
    width: 75%;
    background-color: #b6b3b3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    text-align: center;
    flex-grow: 1;
}

#favList {
    margin-left: auto;
}