body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    margin: 0 auto;
    width: 95%;
    background-color: #b6b3b3;
    padding: 1.3rem;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    flex-grow: 1;
}

#favList {
    margin-left: auto;
}